/** {
    box-sizing: border-box;
}*/

body {
    margin: 10px;
    font-family: coockie, sans-serif;
}
.bold h1, h2, h3, h4, h5, h6 {
    font-family: pacifico , sans-serif ;
    font-weight: bold;
}
.underline h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
}
.margin {
    position: absolute;

    width: 600px;
    height: 400px;

    margin: 10px;
    border: 10px solid red;
    padding: 10px;

    overflow: auto;
    white-space: nowrap;
}

.vertical {
    overflow: auto;
    position: relative;
    margin: 10px;
    border: 1px solid;
    padding: 10px;
    background: green;
    height: 340px;
    width: 100px;
    float: inside;
    display: inline-block;
    white-space: nowrap;
}

.horizontal {
    overflow: auto;
    position: relative;
    background: blue;
    float: bottom;

}
.blue-box-size {
    margin: 10px;
    border: 1px solid;
    padding: 10px;
    height: 58px;
    width: 58px;
}


